<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div2 class="container">
				<h1>
					Welcome to the new 2020 Market Vision Website
				</h1>
					<p> I'm Steven Keeley founder of 2020 Market Vision
				 		<a href="http://www.2020marketvision.com">2020MarketVision</a>
				 	</p>
				 		<a href="{{ url_for('index') }}">Hello page</a>	

			</div2>
		</div>
	</body>
</html>